.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-edit {
  color: #25425a;
}
.Icon-edit:hover {
  color: #0086f3;
}

.Icon-check {
  color: #25425a;
}
.Icon-check:hover,
.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  color: #25425a;
}
.Icon-delete:hover {
  color: red;
}
